---
layout: default.liquid
---

<section class="index">
	{% for week in collections.schedule %}
	  {% if week.data.current %}
	  {% include "partials/week" w:week %}
	  {% endif %}
	{% endfor %}
</section>

<section>
	<div class="students link-list">
		{% for s in students %}
			<a href="{{s.link}}" target="_blank" class="link-button">{{s.name}}</a>
		{% endfor %}
	</div>
</section>
