{{ define "main" }}
	<main>
		<article>
			{{ if or .Title .Content }}
				{{ with .Title }}<h1>{{ . }}</h1>{{ end }}
				{{ with .Content }}{{ . }}{{ end }}
			{{ end }}
			<ul class="index-list">
			{{ range .Paginator.Pages }}
				{{ if ne .Draft true}}
				<li class="accordion">
					<dt class="content-dropdown">
						<div class="week-title">{{ .Title }}</div>
						<time>{{ .Date.Format "January 2, 2006" }}</time>
					</dt>
					<dd class="content week">
						<div class="assignments">
							<div class="row class">
								<h4>Class</h4>
								<div class="item">{{.Content}}</div>
							</div>
							<div class="row">
								<h4>Project</h4>
								{{ with .Site.GetPage .Params.project }}
									<div class="item"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
								{{ end }}
								
								{{ with .Site.GetPage .Params.exercise }}
								<div class="item">
									In class: <a href="{{ .Permalink }}">{{ .Title }}</a>
								</div>
								{{ end }}
								
							</div>
							<div class="row reading">
								<h4>Reading</h4>
								<div class="item">{{ .Params.reading | markdownify }}</div>
							</div>
							<div class="row tuts">
								<h4>Tutorials</h4>
								<div class="item">{{ .Params.tutorials | markdownify }}</div>
							</div>
							{{ with .Params.lectures }}
							<div class="row">
								<h4>Lectures</h4>
								<div class="item">{{ . | markdownify }}</div>
							</div>
							{{ end }}
						</div>

					</dd>
				</li>
				{{ end }}
			{{ end }}
			</ul>
		</article>
	</main>
{{ end }}
