@charset "UTF-8";
@font-face {
  font-family: 'Pentameter';
  src: url("../fonts/Pentameter-VF.ttf"); }

@font-face {
  font-family: 'DispatchMono';
  src: url("../fonts/Dispatch_Mono-Bold.ttf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-variation-settings: "wght" var(--wght), "wdth" var(--wdth), "slnt" var(--slnt); }

:root {
  --maincolor: rgb(0 0 0);
  --secondcolor: rgb(0 0 255);
  --thirdcolor: rgb(220 0 255);
  --code-bgcolor: rgb(245 245 245);
  --grey: rgb(255 255 255);
  --dark-grey:  rgb(150 150 150);
  --wght: 400;
  --wdth: 85;
  --slnt: 0;
  --menuheight: 40px;
  --footerheight: 80px; }

body {
  font-family: 'Pentameter';
  line-height: 1.5;
  font-size: 22px;
  color: var(--maincolor);
  background: var(--grey); }

a {
  color: var(--thirdcolor);
  text-decoration: none;
  font-feature-settings: "ss03" 1; }

a:hover {
  font-feature-settings: "ss03" 0; }

nav a {
  display: block;
  --wght: 300;
  --wdth: 75;
  font-size: 30px; }

nav .home {
  position: fixed;
  top: 0;
  left: 10%;
  padding-top: .5em;
  text-transform: uppercase; }

nav .nav-links {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  background: var(--secondcolor);
  z-index: 200;
  padding: .8em 0 0 2em; }
  nav .nav-links a {
    color: white; }

nav.open .nav-links {
  display: block; }

nav.open .menu-icon {
  color: white; }

.menu-icon {
  position: fixed;
  right: 30px;
  top: 0;
  z-index: 250;
  width: 50px;
  padding: 5px 15px;
  --wght: 350;
  --wdth: 150;
  font-size: 30px;
  letter-spacing: -8px; }
  .menu-icon:hover {
    cursor: pointer;
    color: var(--thirdcolor); }

.container {
  max-width: 80%;
  margin: auto; }

main {
  padding: 4rem 0 4rem;
  min-height: calc(100vh - var(--footerheight) - var(--menuheight)); }

section {
  margin-bottom: 4rem; }

.default article {
  margin-left: 25%; }

header, footer {
  font-size: 1rem; }

nav#TableOfContents {
  display: block;
  margin: 1.75em; }
  nav#TableOfContents ul {
    border-left: 1px solid var(--thirdcolor);
    padding-left: 0.5em;
    margin-bottom: .5em; }
  nav#TableOfContents li {
    display: block; }
    nav#TableOfContents li ul {
      margin-left: 1em;
      border-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  --wght: 200;
  --wdth: 75;
  font-size: 2.8em;
  line-height: 1.0;
  margin-top: 1em;
  margin-bottom: 0.25em;
  color: var(--secondcolor);
  border-top: 2px solid var(--secondcolor);
  padding-top: 0.5em; }

h1:first-child {
  margin-top: 0;
  border-top: none; }

.index h1 {
  font-size: 5rem;
  margin: 2rem auto 0.5rem;
  letter-spacing: -0.03em; }

h2 {
  --wght:  300;
  --slnt: 100;
  font-size: 1.5em;
  line-height: 1.2;
  margin-top: 2em;
  color: var(--secondcolor); }

h3 {
  margin-top: 1.5em; }

h3, h4 {
  display: inline-block;
  border: 2px solid var(--secondcolor);
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 1em; }

h3, h4, h5, h6 {
  color: var(--secondcolor);
  font-size: 1em; }

p {
  margin-bottom: 1em;
  max-width: 42em; }

.content li {
  max-width: 42em; }

.anchor {
  position: relative;
  top: -100px; }

time, .mode {
  text-transform: uppercase;
  color: var(--dark-grey); }

strong {
  font-weight: var(--wght);
  white-space: nowrap; }
  strong::before {
    content: "["; }
  strong::after {
    content: "]"; }

em {
  font-style: normal;
  --slnt: 100; }

ul {
  list-style-type: none; }

.content {
  position: relative; }
  .content ul, .content ol, .content pre {
    margin-bottom: 1em; }
  .content li ul {
    margin-top: 0;
    margin-left: 2em;
    margin-bottom: 0; }
  .content li p {
    display: inline; }
  .content li time + p {
    display: block; }
  .content ul, .content ol {
    margin-left: 1em; }
  .content li {
    text-indent: -1.2em;
    padding-left: 1em; }
  .content ul li {
    list-style-type: none; }
    .content ul li::before {
      content: "• "; }
  .content ol {
    padding-left: 1em; }

blockquote {
  font-size: 26px;
  line-height: 1.35;
  --wght: 300;
  --wdth: 100;
  --slnt: 80;
  text-indent: -.5em;
  margin-top: .5em;
  color: var(--secondcolor); }

pre {
  background: var(--code-bgcolor);
  padding: 8px;
  white-space: pre-wrap;
  font-size: .8em;
  --wght: 500; }

code {
  letter-spacing: 0;
  font-family: Pentameter;
  --slnt: 50;
  font-size: 1em;
  font-style: normal;
  background: var(--code-bgcolor); }
  code .p {
    color: var(--thirdcolor); }
  code .nt {
    color: var(--secondcolor); }
  code .kd, code .k {
    color: var(--secondcolor); }
  code .o {
    color: var(--thirdcolor); }
  code .s1, code .s2 {
    color: #555555; }
  code .c1 {
    color: #afa050; }

p code {
  font-size: .95em; }

#eval td:first-child, #eval th:first-child {
  width: 80px; }

.week-header {
  display: flex;
  margin-top: 4rem;
  padding-top: 1rem; }
  .week-header .week-title {
    flex: 1;
    --wght: 510;
    display: inline-block;
    margin-right: 2em; }
    .week-header .week-title h4 {
      margin: -2rem auto 1rem; }
  .week-header time {
    width: 80px; }
  .week-header .mode {
    width: 130px; }
    .week-header .mode.person {
      color: var(--secondcolor); }
    .week-header .mode.remote {
      color: var(--thirdcolor); }

.index .week {
  margin-top: 2rem;
  font-size: 26px;
  line-height: 1.35;
  --wght: 300;
  --wdth: 100;
  --slnt: 80; }
  .index .week ul {
    margin-left: -1em; }

.index .row {
  border-bottom: 1px dotted; }

.row {
  display: flex;
  min-height: 45px;
  padding: 0.5rem; }
  .row h4 {
    flex: 1;
    text-align: left;
    font-size: 1rem;
    letter-spacing: .08em;
    text-transform: uppercase; }
  .row .item {
    flex: 3; }

.week td {
  width: 25%; }

ul.links {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.links li {
    font-size: 26px;
    line-height: 1.35;
    --wght: 300;
    --wdth: 100;
    --slnt: 80;
    display: inline-block;
    text-indent: 0;
    margin: 0 15px 15px 0; }
    ul.links li::before {
      content: ""; }
    ul.links li:hover {
      cursor: pointer;
      background: var(--code-bgcolor); }

.index-list {
  margin-left: 0; }
  .index-list .accordion:first-child dd {
    display: block; }
  .index-list .accordion .assignments {
    display: flex; }
    .index-list .accordion .assignments .row {
      display: block;
      padding: 0;
      flex: 1; }
    .index-list .accordion .assignments .reading, .index-list .accordion .assignments .tuts {
      flex: 2; }
    .index-list .accordion .assignments .class {
      flex: 3; }
  .index-list .accordion h4 {
    text-align: left;
    font-size: 1rem;
    letter-spacing: .08em;
    text-transform: uppercase;
    border-bottom: 1px dotted var(--maincolor); }
  .index-list .accordion h4, .index-list .accordion .item {
    --wght: 520;
    --wdth: 110;
    font-size: .85rem;
    line-height: 1.5;
    padding: .5em 1em .5em 0;
    box-sizing: border-box;
    vertical-align: top; }
  .index-list .accordion:before {
    content: none; }
  .index-list dt {
    margin: 2em 0 0;
    border-bottom: 1px solid; }
    .index-list dt:hover {
      cursor: pointer; }
  .index-list dd {
    display: none; }

table {
  margin-bottom: 1rem; }

th {
  --wght: 440;
  text-transform: uppercase;
  text-align: left; }

th, td {
  --wght: 520;
  --wdth: 110;
  font-size: 1rem;
  line-height: 1.5;
  padding: .5em 1em .5em 0;
  box-sizing: border-box;
  vertical-align: top;
  border-bottom: 1px dotted var(--maincolor); }

.content td ul {
  margin-bottom: 0; }

.element {
  font-family: Pentameter;
  --slnt: 50;
  font-size: 1em;
  position: absolute;
  color: var(--thirdcolor);
  background: var(--code-bgcolor);
  padding: 20px;
  line-height: 1;
  box-shadow: inset 2px 1px 3px var(--thirdcolor);
  z-index: 100;
  border-radius: 50%; }

.box {
  border: 1px solid var(--secondcolor); }

iframe {
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 400px; }

figcaption {
  text-align: left;
  font-size: 1rem;
  letter-spacing: .08em;
  text-transform: uppercase;
  margin-bottom: 2rem; }

.terms article {
  margin-left: 25%; }

.terms p {
  margin-top: 2em; }

.terms h2 + p {
  margin-top: 0; }

footer {
  text-align: left;
  font-size: 1rem;
  letter-spacing: .08em;
  text-transform: uppercase;
  border-top: 1px dotted;
  padding-top: .5rem;
  height: var(--footerheight); }

footer li {
  list-style-type: none;
  display: inline-block; }
  footer li:after {
    content: " * "; }
  footer li:last-child:after {
    content: ""; }

#dark-mode {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid var(--maincolor);
  position: fixed;
  right: 20px;
  top: 26px; }
  #dark-mode:hover {
    background: var(--maincolor);
    cursor: pointer; }

body.dark {
  --maincolor: rgb(250 201 201);
  background: #1e1e28; }
  body.dark header {
    background: #1e1e28; }
  body.dark .element {
    background: #1e1e28; }

.diagram {
  border: 1px dotted var(--secondcolor);
  padding: 1em;
  margin-bottom: 1em;
  position: relative; }

.line {
  height: 1.5em;
  background: var(--dark-grey);
  margin-bottom: .5em; }

.square {
  width: 80px;
  height: 80px;
  background: var(--dark-grey); }

.flex {
  display: flex;
  justify-content: space-between; }

.inline {
  width: 32%;
  height: 1.5em;
  margin-bottom: .5em; }

.dotted {
  background: transparent;
  border: 1px dashed var(--thirdcolor); }

.marked {
  background: var(--thirdcolor); }

@keyframes vf {
  0% {
    font-variation-settings: 'wght' 20, 'wdth' 100, 'slnt' 0; }
  100% {
    font-variation-settings: 'wght' 140, 'wdth' 100, 'slnt' 0; } }

@keyframes changecolor {
  0% {
    background-color: blue; }
  50% {
    background-color: yellow;
    color: rgba(200, 155, 20, 0.8); }
  100% {
    background-color: green; } }

@media only screen and (max-width: 1000px) {
  .container {
    max-width: 90%; }
  nav .home {
    left: 5%; } }

@media only screen and (max-width: 800px) {
  body {
    font-size: 18px; }
  .container {
    max-width: 95%; }
  nav .home {
    left: 2.5%; }
  .open .nav-links {
    width: 80vw; }
  .index h1 {
    font-size: 3rem;
    margin-top: 0; }
  .index .week {
    font-size: 1rem; }
  ul.links li {
    font-size: 1rem; }
  .default article {
    margin-left: 0; }
  th, td {
    font-size: .9rem;
    --wdth: 110;
    --wght: 490; }
  h3 {
    --wght: 550; }
  #eval td:first-child, #eval th:first-child {
    width: 30px; }
  .week-header {
    flex-wrap: wrap; }
    .week-header .week-title {
      flex: none;
      width: 100%; }
  .index-list .accordion .assignments {
    display: block; }
  .index-list .accordion h4 {
    font-size: .8rem;
    padding-bottom: 0; }
  code {
    font-size: .8rem; } }

@media print {
  header {
    display: none; }
  body {
    font-size: 15px;
    line-height: 1.5; }
  .container {
    max-width: 100%; }
  main {
    margin-left: 0; }
  time + ul {
    margin-top: 1em; }
  article {
    padding: 0; }
    article h2 {
      margin-top: 1.5em; }
    article h3 {
      text-decoration: underline; }
    article h2, article h3, article h4, article time {
      font-size: 1em;
      page-break-after: avoid;
      break-after: avoid; }
    article ul {
      max-width: 85%; }
    article li {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid; }
  aside {
    display: none; } }
