@charset "UTF-8";
@font-face {
  font-family: "Pentameter";
  src: url("/assets/fonts/Pentameter-VF.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-variation-settings: "wght" var(--wght), "wdth" var(--wdth), "slnt" var(--slnt);
}

/*------------------
BASICS
-------------------*/
:root {
  --maincolor: rgb(73 0 216);
  --secondcolor: rgb(0 165 105);
  --thirdcolor: rgb(246 68 28);
  --code-bgcolor: rgb(255 236 212);
  --grey: rgb(255 255 255);
  --dark-grey: rgb(150 150 150);
  --wght: 400;
  --wdth: 85;
  --slnt: 33;
  --menuheight: 40px;
  --footerheight: 80px;
  --base: 20px;
  --ss03: 1;
  --maxwidth: 80%;
  --margin: calc( ( 100vw - var(--maxwidth) )*0.5 );
}

body {
  font-family: "Pentameter";
  line-height: 1.5;
  font-size: var(--base);
  color: var(--maincolor);
  background: var(--grey);
}

a {
  color: var(--thirdcolor);
  text-decoration: none;
  font-feature-settings: "ss03" var(--ss03);
}

a:hover {
  --ss03: 0;
}

.meta {
  --slnt: 0;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  --wght: 520;
  --wdth: 90;
  font-size: 0.8em;
}

/*------------------
TYPOGRAPHY
-------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  --slnt: 0;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  --wght: 300;
  --wdth: 75;
  font-size: 2em;
  line-height: 1;
  margin-top: 1em;
  margin-bottom: 0.25em;
  color: var(--secondcolor);
  padding-top: 0.5em;
}

h1:first-child {
  margin-top: 0;
}

h2, h3, h4 {
  color: var(--secondcolor);
}

h2 {
  --wght: 550;
  --wdth: 100;
  --slnt: 0;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-size: var(--base);
  line-height: 1.2;
}

h3 {
  margin-top: 1.5em;
}
h3:before {
  content: "¶ ";
}

h3, h4, h5, h6 {
  --slnt: 0;
  font-size: var(--base);
  padding-left: 4em;
}

h2, h3, h4, p, ul, ol, pre, table {
  max-width: 840px;
}

p {
  margin-bottom: 1.5em;
}

.content ul, ol {
  padding-left: 4em;
}

.anchor {
  position: relative;
  top: -100px;
}

strong {
  weight: normal;
  --wght: 600;
  white-space: nowrap;
}

em {
  font-style: normal;
}
em::before {
  content: "*";
}
em::after {
  content: "*";
}

blockquote {
  font-size: 26px;
  line-height: 1.35;
  --wght: 285;
  --wdth: 75;
  --slnt: 0;
  text-indent: -0.5em;
  margin-top: 0.5em;
  color: var(--secondcolor);
}

pre {
  background: var(--code-bgcolor);
  padding: 8px;
  white-space: pre-wrap;
  font-size: 0.8em;
  --wght: 500;
}

code {
  letter-spacing: 0;
  font-family: "Pentameter";
  --slnt: 0;
  --wdth: 75;
  color: var(--thirdcolor);
  letter-spacing: 1px;
  font-style: normal;
  background: var(--code-bgcolor);
}
code .p {
  color: var(--thirdcolor);
}
code .nt {
  color: var(--secondcolor);
}
code .kd, code .k {
  color: var(--secondcolor);
}
code .o {
  color: var(--thirdcolor);
}
code .s1, code .s2 {
  color: #555555;
}
code .c1 {
  color: #afa050;
}

p code {
  font-size: 0.95em;
}

/*------------------
HEADER
-------------------*/
nav {
  --slnt: 0;
  --wght: 300;
  --wdth: 75;
  --ss03: 0;
  font-size: 30px;
}
nav .home {
  display: block;
  padding-top: 0.5em;
  --slnt: 0;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  height: 80px;
}
nav .nav-links {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 40vw;
  height: 100vh;
  background: var(--secondcolor);
  z-index: 200;
  padding: 15px 0 0 2em;
  color: white;
}
nav .nav-links a {
  display: block;
  color: white;
}
nav .nav-links a:hover {
  --ss03: 1;
}
nav .nav-links a[target=_blank]::after {
  content: "→";
  position: relative;
  left: 0.5em;
}
nav .nav-links .meta {
  --wght: 450;
}
nav.open .nav-links {
  display: block;
}
nav.open .menu-icon {
  color: white;
}

.menu-icon {
  position: fixed;
  right: 30px;
  top: 0;
  z-index: 250;
  width: 50px;
  padding: 10px 15px;
  --wght: 350;
  --wdth: 150;
  font-size: 30px;
  letter-spacing: -8px;
}
.menu-icon:hover {
  cursor: pointer;
  color: var(--thirdcolor);
}

/*------------------
STRUCTURES
-------------------*/
.container {
  max-width: var(--maxwidth);
  margin: auto;
}

header {
  height: var(--menuheight);
}

footer {
  height: var(--footerheight);
}

main {
  padding: 4rem 0 4rem;
  min-height: calc(100vh - var(--footerheight) - var(--menuheight));
}

section {
  margin-bottom: 4rem;
}

.default article {
  margin-left: 25%;
}

article h2 {
  color: var(--secondcolor);
  border-top: 1px solid;
  padding-top: 0.5em;
  margin-top: 2em;
  margin-bottom: 1.5em;
}
article h2:before {
  content: "§ ";
}

/*------------------
LISTS
-------------------*/
ul {
  list-style-type: none;
}

.content ul, .content ol, .content pre {
  margin-bottom: 1em;
}
.content li ul {
  margin-top: 0;
  margin-left: 2em;
  margin-bottom: 0;
}
.content li p {
  display: inline;
}
.content li time + p {
  display: block;
}
.content ul li {
  list-style-type: none;
  text-indent: -1.2em;
  padding-left: 1.2em;
}
.content ul li::before {
  content: "— ";
}
.content ul li ul {
  padding-left: 0;
}
.content ul li ul li::before {
  content: "• ";
}

/*------------------
HOME INDEX
-------------------*/
.index dt {
  margin-bottom: 3rem;
}
.index h2 {
  font-size: 4.8rem;
  letter-spacing: -0.03em;
  text-transform: none;
  --slnt: 100;
  --wght: 120;
  --wdth: 75;
  text-indent: -0.1em;
  max-width: none;
  line-height: 0.9;
  margin-bottom: 15px;
}
.index time, .index .mode {
  display: inline-block;
  --slnt: 0;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.index .mode {
  --ss03: 0;
}
.index .row {
  display: flex;
  margin-top: 1em;
}
.index h4, .index ul {
  padding-left: 0;
}
.index h4 {
  width: 140px;
  flex: none;
}
.index ul {
  margin-bottom: 0;
}
.index ul li {
  text-indent: 0;
  padding-left: 0;
}
.index ul li::before {
  content: "";
}

.link-list {
  display: flex;
  flex-wrap: wrap;
}

.students .link-button {
  width: calc(33% - 1em);
}
@media screen and (min-width: 1000px) {
  .students .link-button {
    width: calc(20% - 1em);
  }
}

/*------------------
SYLLABUS
-------------------*/
#eval td:first-child, #eval th:first-child {
  width: 80px;
}

/*------------------
SCHEDULE
-------------------*/
.in-person {
  color: var(--secondcolor);
}

.remote {
  color: var(--thirdcolor);
}

.content .index-list {
  margin-left: 0;
  padding-left: 0;
}
.content .index-list li {
  text-indent: 0;
  padding-left: 0;
}
.content .index-list li:before {
  content: none;
}
.content .index-list li ul {
  margin-left: 0;
  padding-left: 0;
}
.content .index-list dt {
  margin: 2em 0 0;
  border-bottom: 1px solid;
  display: flex;
}
.content .index-list dt:hover {
  cursor: pointer;
}
.content .index-list .week-title {
  flex: 1;
}
.content .index-list time, .content .index-list .mode {
  --slnt: 0;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  --wght: 520;
  --wdth: 90;
  font-size: 0.8em;
  width: 140px;
  margin-top: 5px;
}
.content .index-list .mode {
  text-align: right;
  --ss03: 0;
}
.content .index-list dd {
  display: none;
}
.content .index-list .accordion.open dd {
  display: block;
}
.content .index-list .row {
  display: flex;
  border-bottom: 1px dotted var(--maincolor);
}
.content .index-list .accordion h4 {
  text-align: left;
  font-size: 1rem;
  width: 120px;
  flex: none;
}
.content .index-list .accordion h4, .content .index-list .accordion .item {
  --wght: 520;
  --wdth: 90;
  font-size: 0.8em;
  padding: 0.5em 1em 0.5em 0;
  box-sizing: border-box;
  vertical-align: top;
}

table {
  margin-bottom: 1rem;
}

th {
  --slnt: 0;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  --wght: 440;
  text-align: left;
}

th, td {
  --wght: 520;
  --wdth: 90;
  font-size: 0.8em;
  padding: 0.5em 1em 0.5em 0;
  box-sizing: border-box;
  vertical-align: top;
  border-bottom: 1px dotted var(--maincolor);
}

.content td ul {
  padding-left: 0;
  margin-bottom: 0;
}

.element {
  font-family: "Pentameter";
  --slnt: 0;
  --wdth: 75;
  color: var(--thirdcolor);
  letter-spacing: 1px;
  --slnt: 0;
  position: absolute;
  color: var(--thirdcolor);
  background: var(--code-bgcolor);
  padding: 15px;
  line-height: 1;
  box-shadow: inset 1px 1px 3px var(--thirdcolor);
  z-index: 100;
  border-radius: 50%;
}

.box {
  border: 1px solid var(--secondcolor);
}

/*------------------
PROJECTS
-------------------*/
.projects a {
  --ss03: 0;
}

h2.project {
  font-size: 4.8rem;
  letter-spacing: -0.03em;
  text-transform: none;
  --slnt: 100;
  --wght: 120;
  --wdth: 75;
  text-indent: -0.1em;
  --slnt: 0;
}

figcaption {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 2rem;
}

/*------------------
Exercises
-------------------*/
.layouts {
  display: flex;
}
.layouts .mockup {
  width: 240px;
  position: relative;
  padding-top: 50px;
  margin: 50px;
}
.layouts .mockup figcaption {
  position: absolute;
  top: 0;
}

.block {
  border: 1px solid;
  padding: 5px;
}

.image-block {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.text-block {
  width: 100px;
}

.layout1 .text-block {
  margin: auto;
  height: auto;
}

.layout2 {
  display: flex;
}
.layout2 .text-block {
  margin-right: 10px;
}

.layout3 {
  display: flex;
  height: 200px;
}
.layout3 .text-block {
  height: 150px;
  overflow: scroll;
}

/*------------------
RESOURCES
-------------------*/
.resources {
  position: relative;
}
.resources article {
  width: calc(100% - 250px - 4em);
}
.resources aside {
  max-height: 90vh;
  position: fixed;
  top: 6em;
  right: var(--margin);
  width: 250px;
  border-left: 1px dotted var(--thirdcolor);
  padding-left: 2em;
  margin-left: 2em;
}
.resources aside .notes a {
  display: block;
  margin-bottom: 0.5em;
}

.link-button {
  --ss03: 0;
  --slnt: 0;
  width: 250px;
  height: 120px;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid;
  margin: 0 1em 1em 0;
  line-height: 1.2;
  font-size: 0.9em;
}
.link-button:hover {
  border-style: dashed;
}

.notecards {
  display: flex;
  flex-wrap: wrap;
}

/*------------------
GLOSSARY
-------------------*/
.terms article {
  margin-left: 25%;
}
.terms p {
  margin-top: 2em;
}
.terms h2 + p {
  margin-top: 0;
}

/*------------------
FOOTER
-------------------*/
footer {
  --slnt: 0;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  --wght: 520;
  --wdth: 90;
  font-size: 0.8em;
  border-top: 1px solid;
  padding-top: 0.5rem;
  height: var(--footerheight);
}
footer ul {
  max-width: none;
}
footer li {
  list-style-type: none;
  display: inline-block;
}
footer li:after {
  content: " * ";
}
footer li:last-child:after {
  content: "";
}

#dark-mode {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid var(--maincolor);
  position: fixed;
  right: 20px;
  top: 26px;
}
#dark-mode:hover {
  background: var(--maincolor);
  cursor: pointer;
}

body.dark {
  --maincolor: rgb(250 201 201);
  background: #1e1e28;
}
body.dark header {
  background: #1e1e28;
}
body.dark .element {
  background: #1e1e28;
}

/*------------------
DIAGRAMS
-------------------*/
.diagram {
  border: 1px dotted var(--secondcolor);
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
}

.line {
  height: 1.5em;
  background: var(--dark-grey);
  margin-bottom: 0.5em;
}

.square {
  width: 80px;
  height: 80px;
  background: var(--dark-grey);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.inline {
  width: 32%;
  height: 1.5em;
  margin-bottom: 0.5em;
}

.dotted {
  background: transparent;
  border: 1px dotted var(--thirdcolor);
}

.marked {
  background: var(--thirdcolor);
}

@keyframes vf {
  0% {
    font-variation-settings: "wght" 20, "wdth" 100, "slnt" 0;
  }
  100% {
    font-variation-settings: "wght" 140, "wdth" 100, "slnt" 0;
  }
}
@keyframes changecolor {
  0% {
    background-color: blue;
  }
  50% {
    background-color: yellow;
    color: rgba(200, 155, 20, 0.8);
  }
  100% {
    background-color: green;
  }
}
/*------------------
MEDIA QUERIES
-------------------*/
@media only screen and (max-width: 1000px) {
  .container {
    max-width: 90%;
  }

  :root {
    font-size: 11px;
  }

  .open .nav-links {
    width: 50vw;
  }

  nav {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 800px) {
  .container {
    max-width: 92%;
  }

  :root {
    font-size: 11px;
    --base: 16px;
    --footerheight: 150px;
  }

  nav {
    font-size: 1.8rem;
    line-height: 1.4;
  }

  .open .nav-links {
    width: 100vw;
  }

  th, td {
    font-size: 0.9em;
    --wght: 500;
  }

  h3, h4, h5, h6, .content ul {
    padding-left: 2em;
  }

  .link-button {
    height: 100px;
  }

  .index .row {
    display: block;
  }

  .index h2 {
    font-size: 3.5rem;
    --wght: 200;
  }

  .content .index-list dt {
    display: block;
  }

  .content .index-list time {
    display: inline-block;
  }

  .content .index-list .mode {
    display: inline-block;
    text-align: left;
  }

  footer {
    font-size: 1rem;
  }
}
@media print {
  header {
    display: none;
  }

  body {
    font-size: 15px;
    line-height: 1.5;
  }

  .container {
    max-width: 100%;
  }

  main {
    margin-left: 0;
  }

  time + ul {
    margin-top: 1em;
  }

  article {
    padding: 0;
  }
  article h2 {
    margin-top: 1.5em;
  }
  article h2, article h3, article h4, article time {
    page-break-after: avoid;
    break-after: avoid;
  }
  article ul {
    max-width: 85%;
  }
  article li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  aside {
    display: none;
  }
}