---
title: "Readings"
permalink: "/readings/index.html"
layout: page
eleventyExcludeFromCollections: true
---

<div class="readings">
	<p>
		Readings will be dispersed throughout the semester to inform and contextualize our work with each project. Be prepared to respond, raise questions, and discuss the text during class.
	</p>
	<section class="link-list">
	{% assign readings = collections.reading | reverse %}
	{% for r in readings %}
		<a href="{{r.data.link}}" target="_blank" class="link-button">
			<div class="reading">
				<div class="meta">Week {{ forloop.length | minus:forloop.index0 }}</div>
				{{r.data.author}}: {{r.data.title}}
			</div>
		</a>
	{% endfor %}
	</section>
</div>